<h2> Book a Party </h2>
<form name="form" action="">
    <div class="form-group">
        <label for="">Party Type</label>
        <input type="text" class="form-control" name="partytype" id="ptype" value="partytype" required/>
    </div>
    <div class="form-group">
        <label for="">Attendees</label>
        <input type="text" class="form-control" name="attendees" id="attendees" value="attendees" required/>
    </div>
    <div class="form-group">
        <label for="">Start time</label>
        <input type="text" class="form-control" name="starttime" id="start" value="starttime" required/>
    </div>
    <div class="form-group">
        <label for="">End time</label>
        <input type="text" class="form-control" name="endtime" id="end" value="endtime" required/>
    </div>
    <button class="btn btn-primary">Book</button>
</form>